<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<title th:text="'통합주소검색'">주소검색</title>
</head>
<body>
	<div class="container-fluid ms-5">
		<h1 class="mt-5">통합 주소 검색 폼</h1>
		<div class="mt-5">
			<p>
				<span class="fw-bold text-success">도로명주소</span>
				[도로명/건물명] 또는
				<span class="fw-bold text-success">지번주소</span>
				[동/읍/면/리] 입력
			</p>
		</div>
		<form class="form-horizontal mb-4" th:object="${searchKey}"
			th:action="@{/searchAddress}" method="get">
			<div class="row form-group w-50" style='min-width: 200px;'>
				<div class="col-8">
					<input type="text" class="form-control" placeholder="주소 검색어"
						th:field="*{addrKey}" />
					<div class="alert alert-warning text-nowrap"
						th:if="${#fields.hasErrors('addrKey')}" th:errors="*{addrKey}">
					</div>
				</div>
				<div class="col">
					<button type="submit" class="btn btn-primary">검색</button>
				</div>
			</div>
		</form>
		<table class="table table-striped w-auto caption-top">
			<caption class="ps-2">
				(검색건수:
				<span
					th:text="${addressPage eq null} ? '- )' : 
					${addressPage.totalElements} + ')'">
					검색건수)</span>
			</caption>
			<thead>
				<tr>
					<th>우편번호</th>
					<th>도로명 주소 / <span class="fw-normal">지번 주소</span></th>
				</tr>
			</thead>
			<tbody th:if="${addressPage != null}">
				<tr th:each="address,iStat: ${addressPage.content}"
					th:if="${addressPage != null}" class="align-middle">
					<td th:text="${address.zipcode}">(우편번호)</td>
					<td>
						<p th:text="${address.roadAddress}" class="mb-0 fw-bold">(도로 주소)</p>
						<p th:text="${address.zBunAddress}" class="mb-0">(지번 주소)</p>
					</td>
				</tr>
				<tr th:remove="all" class="align-middle">
					<td>(우편번호)</td>
					<td>
						<p class="mb-0">(도로 주소)</p>
						<p class="mb-0">(지번 주소)</p>
					</td>
				</tr>				
			</tbody>
		</table>
		<ul th:if="${addressPage != null && addressPage.totalPages > 0}"
			class="pagination">
			<li class="page-item"
				th:classappend="${currentPage == 1} ? 'disabled'"><a
					th:replace="~{fragments/paging :: paging(${searchKey.addrKey},
           ${addressPage.size}, 1, '<<', '첫 페이지')}"></a>
			</li>
			<li class="page-item font-weight-bold"
				th:classappend="${currentPage == 1} ? 'disabled'"><a
					th:replace="~{fragments/paging :: paging(${searchKey.addrKey}, 
				   ${addressPage.size}, ${currentPage - 1}, '직전', '직전 페이지')}"></a>
			</li>
			<li class="page-item disabled" th:if="${currentPage - 2 > 1}"><a
					class="page-link" href="#">...</a></li>
			<li class="page-item"
				th:classappend="${pageNumber == currentPage} ? 'active'"
				th:each="pageNumber : ${#numbers.sequence(
          currentPage > 2 ? currentPage - 2 : 1, 
          (currentPage > 2 ? currentPage - 2 : 1) + 4 > totalPages ?
          totalPages : (currentPage > 2 ? currentPage - 2 : 1) + 4)}">
				<a
					th:replace="~{fragments/paging :: paging(${searchKey.addrKey},
				  ${addressPage.size}, ${pageNumber}, ${pageNumber}, 
				  ${pageNumber} + '페이지')}"></a>
			</li>
			<li class="page-item disabled"
				th:if="${currentPage + 2 < totalPages}"><a class="page-link"
					href="#">...</a></li>
			<li class="page-item font-weight-bold"
				th:classappend="${currentPage == totalPages} ? 'disabled'"><a
					th:replace="~{fragments/paging :: paging(${searchKey.addrKey},
					 ${addressPage.size}, ${currentPage + 1}, '다음', '다음 페이지')}"></a>
			</li>
			<li class="page-item"
				th:classappend="${currentPage == totalPages} ? 'disabled'"><a
					th:replace="~{fragments/paging :: paging(${searchKey.addrKey},
           ${addressPage.size}, ${totalPages}, '>>', '끝 페이지')}"></a>
			</li>
		</ul>
	</div>
</body>
</html>